{% extends 'base.html' %}

{% load static %}
{% block title %}Bog'lamalar{% endblock %}


{% block content %}
    <header class="page-header page-header-left-inline-breadcrumb">
        <h2 class="font-weight-bold text-6">Dashbord ></h2>
        <div class="right-wrapper">
            <ol class="breadcrumbs">
                <li><span>Bog'lama turlari</span></li>
            </ol>
        </div>
    </header>

    <div class="row">
        <div class="col">

            <div class="card card-modern card-modern-table-over-header">
                <div class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                    </div>
                    <a type="button" href="{% url 'products:binding_type_add' user.id %}" class="btn btn-primary">+
                        Qo'shmoq</a>
                </div>
                <div class="card-body">
                    <table class="table table-responsive-md table-bordered mb-0 text-center" >
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Korxona</th>
                            <th>Nomi</th>
                            <th>Rasm</th>
                            <th>Harakat</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for binding_type in object_list %}
                            <tr>


                                <td>{{ forloop.counter }}</td>
                                <td>{{ binding_type.company }}</td>
                                <td>{{ binding_type.name }}</td>
                                <td>
                                    {% if binding_type.photo %}
                                    <img src="{{ binding_type.photo.url }}" alt="{{ binding_type.name }} Photo">
                                {% else %}
                                    No Photo Available
                                {% endif %}

                                </td>
                                <td class="actions text-center d-flex justify-content-around ">
                                    <a href="#"><i class="fas fa-pencil-alt"></i></a>
                                    <a href="#" class="delete-row"><i
                                            class="far fa-trash-alt"></i></a>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
<!-- Specific Page Vendor -->

