{% load static i18n custom_tags %}
<!-- start: header -->
<header class="header header-nav-menu header-nav-links">
    <div class="logo-container">
        <a href="../" class="logo">
            <img src="{% static 'img/device.png' %}" class="logo-image" width="90" height="24"
                 alt="Porto Admin"/>
        </a>
        <button class="btn header-btn-collapse-nav d-lg-none" data-bs-toggle="collapse"
                data-bs-target=".header-nav">
            <i class="fas fa-bars"></i>
        </button>


    </div>

    <!-- start: search & user box -->
    <div  x-data="{ isOpen: false }" class="header-right">
        {% get_available_languages as LANGUAGES %}
        {% get_current_language as LANGUAGE_CODE %}
        {% get_language_info_list for LANGUAGES as languages %}
        <a class="dropdown-language nav-link" href="#" role="button" id="dropdownLanguage" data-bs-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            {% if LANGUAGE_CODE == 'uz' %}
                <img src="{% static 'img/blank.gif' %}" class="flag flag-{{ LANGUAGE_CODE }}"
                     alt="{{ LANGUAGE_CODE }}"/> {{ LANGUAGE_CODE|language_name_local }}
            {% else %}
                <img src="{% static 'img/blank.gif' %}" class="flag flag-{{ LANGUAGE_CODE }}"
                     alt="{{ LANGUAGE_CODE }}"/> {{ LANGUAGE_CODE|language_name_local }}
            {% endif %}
            (DEBUG: {{ request.LANGUAGE_CODE }})
            <i class="fas fa-chevron-down"></i>
        </a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownLanguage">
            {% for language in LANGUAGES %}
                {% if not language.0 == LANGUAGE_CODE %}
                    <a class="dropdown-item" href="{{ request.get_full_path|lang_switch_link:language.0 }}"><img
                            src="{% static 'img/blank.gif' %}"
                            class="flag flag-{{ language.0 }}"
                            alt="{{ language.0 }}"/>{{ language.1 }}</a>
                {% endif %}
            {% endfor %}
        </div>

        <span class="separator"></span>

        <ul class="notifications">

            <li>
                <a href="#" class="dropdown-toggle notification-icon" data-bs-toggle="dropdown">
                    <i class="bx bx-envelope"></i>
                    <span class="badge">4</span>
                </a>

                <div class="dropdown-menu notification-menu">
                    <div class="notification-title">
                        <span class="float-end badge badge-default">230</span>
                        Messages
                    </div>

                    <div class="content">
                        <ul>
                            <li>
                                <a href="#" class="clearfix">

                                    <span class="image image-as-text">JD</span>

                                    <span class="title">Joseph Doe</span>
                                    <span class="message">Lorem ipsum dolor sit.</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="clearfix">

                                    <span class="image image-as-text bg-secondary">JJ</span>

                                    <span class="title">Joseph Junior</span>
                                    <span class="message truncate">Truncated message. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lacinia orci. Proin vestibulum eget risus non luctus. Nunc cursus lacinia lacinia. Nulla molestie malesuada est ac tincidunt. Quisque eget convallis diam, nec venenatis risus. Vestibulum blandit faucibus est et malesuada. Sed interdum cursus dui nec venenatis. Pellentesque non nisi lobortis, rutrum eros ut, convallis nisi. Sed tellus turpis, dignissim sit amet tristique quis, pretium id est. Sed aliquam diam diam, sit amet faucibus tellus ultricies eu. Aliquam lacinia nibh a metus bibendum, eu commodo eros commodo. Sed commodo molestie elit, a molestie lacus porttitor id. Donec facilisis varius sapien, ac fringilla velit porttitor et. Nam tincidunt gravida dui, sed pharetra odio pharetra nec. Duis consectetur venenatis pharetra. Vestibulum egestas nisi quis elementum elementum.</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="clearfix">

                                    <span class="image image-as-text bg-tertiary">MD</span>

                                    <span class="title">Monica Doe</span>
                                    <span class="message">Lorem ipsum dolor sit.</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="clearfix">

                                    <span class="image image-as-text bg-quaternary">RD</span>

                                    <span class="title">Robert Doe</span>
                                    <span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lacinia orci. Proin vestibulum eget risus non luctus. Nunc cursus lacinia lacinia. Nulla molestie malesuada est ac tincidunt. Quisque eget convallis diam.</span>
                                </a>
                            </li>
                        </ul>

                        <hr/>

                        <div class="text-end">
                            <a href="#" class="view-more">View All</a>
                        </div>
                    </div>
                </div>
            </li>

        </ul>

        <span class="separator"></span>

        <div id="userbox" class="userbox">
            <a href="#" data-bs-toggle="dropdown">

                <span class="profile-picture profile-picture-as-text"><i class="bx bx-user"></i></span>
                <div class="profile-info profile-info-no-role" data-lock-name="John Doe"
                     data-lock-email="johndoe@okler.com">
                    <span class="name"> <strong
                            class="font-weight-semibold">{{ user.first_name }} {{ user.last_name }}</strong></span>
                </div>

                <i class="fas fa-chevron-down text-color-dark"></i>
            </a>

            <div class="dropdown-menu">
                <ul class="list-unstyled">
                    <li>
                        <a role="menuitem" tabindex="-1" href="{% url 'accounts:user_detail' user.id %}"><i
                                class="bx bx-user"></i>
                            My Profile</a>
                    </li>

                    <li>
                        <a role="menuitem" tabindex="-1" href="{% url 'accounts:logout' %}"><i
                                class="bx bx-log-out"></i>
                            Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end: search & user box -->
</header>
<!-- end: header -->