{% load static i18n %}


<!-- start: sidebar -->
<aside id="sidebar-left" class="sidebar-left">

    <div class="sidebar-header">
        <div class="sidebar-toggle d-none d-md-flex" data-toggle-class="sidebar-left-collapsed"
             data-target="html" data-fire-event="sidebar-left-toggle">
            <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>

    <div class="nano">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation">

                <ul class="nav nav-main">
                    <li>
                        <a class="nav-link" href="{% url 'accounts:home' %}">
                            <i class="bx bx-home-alt" aria-hidden="true"></i>
                            <span>{% trans Dashboard %}</span>
                        </a>
                    </li>
                    <hr class="separator">
                    <li>
                        <a class="nav-link" href="{% url 'orders:order_list' %}">
                            <i class="bx bx-detail" aria-hidden="true"></i>
                            <span>{% trans Buyurtmalar %}</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'clients:client_list' %}">
                            <i class="bx bx-user" aria-hidden="true"></i>
                            <span>{% trans Mijozlar %}</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'products:product_list' %}">
                            <i class="bx bxl-product-hunt" aria-hidden="true"></i>
                            <span>{% trans Mahsulotlar %}</span>
                        </a>
                    </li>
                    <li class="nav-parent">
                        <a class="nav-link" href="#">
                            <i class="bx bx-money" aria-hidden="true"></i>
                            <span>{% trans Tolovlar %}</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a class="nav-link" href="{% url 'transactions:transaction_list' %}">
                                    {% trans Tolov operatsiyalar %}
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="{% url 'accounts:cash' user.id %}">
                                    {% trans Naqt %}
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="{% url 'accounts:bank' user.id %}">
                                    {% trans Bank %}
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="{% url 'transactions:transaction_add' %}">
                                    {% trans Yangi tolov %}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a class="nav-link" href="#">
                            <i class="bx bx-transfer" aria-hidden="true"></i>
                            <span>{% trans Debit-Kredit %}</span>
                        </a>
                        <ul class="nav nav-children">

                            <li>
                                <a class="nav-link" href="{% url 'clients:debit_credit' %}">
                                    {% trans Mijozlar %}
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="#">
                                    {% trans Buyurtmalar %}
                                </a>
                            </li>

                        </ul>
                    </li>
                    <hr class="separator">
                    <li class="nav-parent">
                        <a class="nav-link" href="#">
                            <i class="bx bx-info-circle" aria-hidden="true"></i>
                            <span>{% trans Umumiy malumot %}</span>
                        </a>
                        <ul class="nav nav-children">

                            <li>
                                <a class="nav-link" href="{% url 'accounts:company_list' user.id %}">
                                    {% trans Kompaniya %}
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="{% url 'accounts:money_saver_list' user.id %}">
                                    {% trans Bank %}
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="{% url 'products:binding_type_list' user.id %}">
                                    {% trans Boglama turi %}
                                </a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </nav>


        </div>

        <script>
            // Maintain Scroll Position
            if (typeof localStorage !== 'undefined') {
                if (localStorage.getItem('sidebar-left-position') !== null) {
                    var initialPosition = localStorage.getItem('sidebar-left-position'),
                        sidebarLeft = document.querySelector('#sidebar-left .nano-content');

                    sidebarLeft.scrollTop = initialPosition;
                }
            }
        </script>

    </div>

</aside>
<!-- end: sidebar -->