{% extends 'base.html' %}

{% load static %}
{% block title %}Mijozlar{% endblock %}


{% block content %}
    <header class="page-header page-header-left-inline-breadcrumb">
        <h2 class="font-weight-bold text-6">Dashbord ></h2>
        <div class="right-wrapper">
            <ol class="breadcrumbs">
                <li><span>Operatsiya turlari</span></li>
            </ol>
        </div>
    </header>

    <div class="row">
        <div class="col">

            <div class="card card-modern card-modern-table-over-header">
                <div class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                    </div>
                    <a type="button" href="{% url 'accounts:money_saver_add' user.id %}" class="btn btn-primary">+ Qo'shmoq</a>
                </div>
                <div class="card-body">
                    <table class="table table-responsive-md table-bordered mb-0 text-center">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Korxona</th>
                            <th>Pul turi</th>
                            <th>Kodi</th>
                            <th>Debit</th>
                            <th>Kredit</th>
                            <th>Balans</th>
                            <th>Harakat</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for money_saver in object_list %}
                            <tr>


                                <td>{{ forloop.counter }}</td>
                                <td>{{ money_saver.company }}</td>
                                <td>{{ money_saver.get_cashType_display }}</td>
                                <td>{{ money_saver.reester_number }}</td>
                                <td>{{ money_saver.total_debit|floatformat:"2g" }} so'm</td>
                                <td>{{ money_saver.total_credit|floatformat:"2g" }} so'm</td>
                                <td>{{ money_saver.balance|floatformat:"2g" }} so'm</td>
                                <td class="actions text-center d-flex justify-content-around ">
                                    <a href="#"><i class="fas fa-pencil-alt"></i></a>
                                    <a href="#" class="delete-row"><i
                                            class="far fa-trash-alt"></i></a>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
<!-- Specific Page Vendor -->

