{% load static i18n custom_tags %}

<!doctype html>
<html class="modern fixed has-top-menu has-left-sidebar-half">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>{% block title %}Print{% endblock %}</title>
    <meta name="keywords" content="HTML5 Admin Template"/>
    <meta name="description" content="Print books with love">
    <meta name="author" content="print-book.uz">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,300,400,600,700,800,900" rel="stylesheet"
          type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendor/animate/animate.compat.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/all.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendor/boxicons/css/boxicons.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendor/magnific-popup/magnific-popup.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendor/select2/css/select2.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendor/morris/morris.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendor/datatables/media/css/dataTables.bootstrap5.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendor/pnotify/pnotify.custom.css' %}"/>

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'css/theme.css' %}"/>

    <!-- Theme Layout -->
    <link rel="stylesheet" href="{% static 'css/layouts/modern.css' %}"/>

    <!-- Skin CSS -->
    <link rel="stylesheet" href="{% static 'css/skins/default.css' %}"/>

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">


    {% block additional_css %}{% endblock %}
    <!-- Head Libs -->
    <script src="{% static 'vendor/modernizr/modernizr.js' %}"></script>


</head>
<body>
<section class="body">
    {% block navbar %}
        {% include '_includes/navbar.html' %}
    {% endblock %}
    <div class="inner-wrapper">
        {% block sidebar %}
            {% include '_includes/sidebar.html' %}
        {% endblock %}

        <section role="main" class="content-body content-body-modern">


            <!-- start: page -->
            {% block content %}

                <!-- end: page -->
            {% endblock content %}

        </section>
    </div>


</section>

<!-- Vendor -->
<script src="{% static 'vendor/jquery/jquery.js' %}"></script>
<script src="{% static 'vendor/jquery-browser-mobile/jquery.browser.mobile.js' %}"></script>
<script src="{% static 'vendor/popper/umd/popper.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'vendor/common/common.js' %}"></script>
<script src="{% static 'vendor/nanoscroller/nanoscroller.js' %}"></script>
<script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.js' %}"></script>
<script src="{% static 'vendor/jquery-placeholder/jquery.placeholder.js' %}"></script>

<!-- Specific Page Vendor -->
{% block additional_js %}{% endblock %}

<!-- Theme Base, Components and Settings -->
<script src="{% static 'js/theme.js' %}"></script>

<!-- Theme Custom -->
<script src="{% static 'js/custom.js' %}"></script>

<!-- Theme Initialization Files -->
<script src="{% static 'js/theme.init.js' %}"></script>

<!-- Examples -->
<script src="{% static 'js/examples/examples.header.menu.js' %}"></script>


<script>
    if (localStorage.getItem("msg")) {
        toastr_success_top_right(localStorage.getItem("msg"))
        localStorage.removeItem("msg")
    }


</script>

</body>
</html>
