{% extends 'base.html' %}

{% load static i18n %}

{% block title %}Foydalanuvchi{% endblock %}
{% block additional_css %}


{% endblock %}

{% block content %}

    <header class="page-header page-header-left-inline-breadcrumb">
        <h2 class="font-weight-bold text-6">Dashboard</h2>
        <div class="right-wrapper">
            <ol class="breadcrumbs">
                <li><span></span></li>
                <li><span>Foydalanuvchi</span></li>

            </ol>

        </div>
    </header>

    <!-- start: page -->

    <div class="row">
        <div class="col-lg-4 col-xl-3 mb-4 mb-xl-0">

            <section class="card">
                <div class="card-body">
                    <div class="thumb-info mb-3">
                        <img src="img/!logged-user.jpg" class="rounded img-fluid" alt="John Doe">
                        <div class="thumb-info-title">
                            <span class="thumb-info-inner">{{ customuser.first_name }} {{ customuser.last_name }}</span>

                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-8 col-xl-9">
            <div class="tabs">
                <ul class="nav nav-tabs tabs-primary">
                    <li class="nav-item active">
                        <a href="{% url 'accounts:user_detail' user.id %}" class="nav-link">Umumiy ma'lumot
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a href="{% url 'accounts:user_update' user.id %}" class="nav-link">O'zgartirmoq</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="overview" class="tab-pane active">

                        <div class="p-3">

                            <section class="simple-compose-box mb-3 border-0">
                                <div class="card-body">
                                    <form class="form-horizontal form-bordered" method="get">


                                        <div class="form-group row pb-4">
                                            <label class="col-lg-3 control-label text-lg-end pt-2" for="inputReadOnly">Username
                                                </label>
                                            <div class="col-lg-6">
                                                <input type="text" value="{{ customuser.username }}" id="inputReadOnly"
                                                       class="form-control" readonly="readonly">
                                            </div>
                                        </div>
                                         <div class="form-group row pb-4">
                                            <label class="col-lg-3 control-label text-lg-end pt-2" for="inputReadOnly">Ism
                                                </label>
                                            <div class="col-lg-6">
                                                <input type="text" value="{{ customuser.first_name }}" id="inputReadOnly"
                                                       class="form-control" readonly="readonly">
                                            </div>
                                        </div>
                                         <div class="form-group row pb-4">
                                            <label class="col-lg-3 control-label text-lg-end pt-2" for="inputReadOnly">Familiya
                                                </label>
                                            <div class="col-lg-6">
                                                <input type="text" value="{{ customuser.last_name }}" id="inputReadOnly"
                                                       class="form-control" readonly="readonly">
                                            </div>
                                        </div>
                                         <div class="form-group row pb-4">
                                            <label class="col-lg-3 control-label text-lg-end pt-2" for="inputReadOnly">Pochta
                                                </label>
                                            <div class="col-lg-6">
                                                <input type="text" value="{{ customuser.email }}" id="inputReadOnly"
                                                       class="form-control" readonly="readonly">
                                            </div>
                                        </div>
                                         <div class="form-group row pb-4">
                                            <label class="col-lg-3 control-label text-lg-end pt-2" for="inputReadOnly">Korxona
                                                </label>
                                            <div class="col-lg-6">
                                                <input type="text" value="{{ customuser.company }}" id="inputReadOnly"
                                                       class="form-control" readonly="readonly">
                                            </div>
                                        </div>
                                         <div class="form-group row pb-4">
                                            <label class="col-lg-3 control-label text-lg-end pt-2" for="inputReadOnly">Rol
                                                </label>
                                            <div class="col-lg-6">
                                                <input type="text" value="{{ customuser.role }}" id="inputReadOnly"
                                                       class="form-control" readonly="readonly">
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </section>
                        </div>

                    </div>

                </div>
            </div>
        </div>


    </div>
    <!-- end: page -->

{% endblock %}

{% block additional_js %}

{% endblock %}
