{% extends 'base.html' %}

{% load static i18n %}

{% block title %}{% trans 'Buyurtmalar' %}{% endblock %}


{% block content %}
    <header class="page-header page-header-left-inline-breadcrumb">
        <h2 class="font-weight-bold text-6">{% trans 'Dashboard' %} ></h2>
        <div class="right-wrapper">
            <ol class="breadcrumbs">
                <li><span>{% trans 'Buyurtmalar' %}</span></li>
            </ol>
        </div>
    </header>


    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="row">
        <div class="col">
            <section class="card">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                    </div>

                    <h2 class="card-title">{% trans 'Buyurtmalar' %}</h2>
                </header>
                <div class="card-body">
                    <a type="button" href="{% url 'orders:add' user.id %}"
                       class="btn btn-primary">+ {% trans "Qo'shmoq" %}</a>
                    <table class="table table-bordered table-striped mb-0" id="datatable-tabletools">

                        <thead>
                        <tr>
                            <th>#</th>
                            <th class="text-center">Buyurtma raqami</th>
                            <th class="text-center">Mijoz telefon<br> raqami</th>
                            <th class="text-center">Yaratilgan</th>
                            <th class="text-center">Buyurtma statusi</th>
                            <th class="text-center">Yetqazib berish<br> turi</th>
                            <th class="text-center">Sahifalar soni</th>
                            <th class="text-center">Narx</th>
                            <th class="text-center">To'langanlik <br> statusi</th>
                            <th class="text-center">Harakat</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for order in order_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="{% url 'orders:order_detail' order.uuid %}">{{ order.order_number }}</a>
                                </td>
                                <td>{{ order.created_by.phone }}</td>
                                <td>{{ order.created_at|date:"d-m-Y H:i" }}</td>
                                <td>

                                    <select
                                            class="form-control"
                                            style="width: 150px" id="order_status_update_select"
                                    >
                                        <option value="2" class="badge badge-warning"
                                                {% if order.order_status == 2 %}selected{% endif %}>
                                            Yangi Buyurtma
                                        </option>
                                        <option value="3" class="badge badge-success"
                                                {% if order.order_status == 3 %}selected{% endif %}>
                                            Faol
                                        </option>
                                        <option value="4" class="badge badge-danger"
                                                {% if order.order_status == 4 %}selected{% endif %}>
                                            Bekor qilingan
                                        </option>
                                        <option value="5" class="badge badge-default"
                                                {% if order.order_status == 5 %}selected{% endif %}>
                                            Yetqazib berilgan
                                        </option>
                                    </select>
                                <td>{{ order.get_delivery_type_display }}</td>
                                <td>{{ order.page_number }}</td>
                                <td>{{ order.price|floatformat:"2g" }} so'm</td>
                                <td>{{ order.total_credit|floatformat:"2g" }} so'm</td>
                                <td>
                                    <form id="order_status_form">
                                        {% csrf_token %}
                                        <button class="btn btn-primary" type="submit" id="order_status_update"
                                                data-action-url="{% url 'orders:status_update' order.uuid %}">
                                            Saqlash
                                        </button>
                                    </form>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>

{% endblock %}
<!-- Specific Page Vendor -->
{% block additional_js %}
    <!-- Specific Page Vendor -->
    <script src="{% static 'vendor/select2/js/select2.js' %}"></script>
    <script src="{% static 'vendor/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/media/js/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/extras/TableTools/Buttons-1.4.2/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/extras/TableTools/JSZip-2.5.0/jszip.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/extras/TableTools/pdfmake-0.1.32/pdfmake.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/extras/TableTools/pdfmake-0.1.32/vfs_fonts.js' %}"></script>

    <!-- Examples -->
    <script src="{% static 'js/examples/examples.datatables.default.js' %}"></script>
    <script src="{% static 'js/examples/examples.datatables.row.with.details.js' %}"></script>
    <script src="{% static 'js/examples/examples.datatables.tabletools.js' %}"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let form = document.getElementById("order_status_form");

            if (form) {
                form.addEventListener("submit", function (event) {
                    event.preventDefault(); // Prevent the default form submission
                    let select = document.getElementById("order_status_update_select");
                    let selectedValue = select.value;
                    select_status_of_order(selectedValue);
                });
            } else {
                console.error("Form not found");
            }
        });

        function select_status_of_order(selectedValue) {

            let actionUrl = document.getElementById("order_status_update").getAttribute("data-action-url");
            let csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;  // Get CSRF token
            let form_data = {
                "status": selectedValue,
                "csrfmiddlewaretoken": csrftoken,
            };

            $.ajax({
                method: "POST",
                url: actionUrl,
                data: form_data,
                dataType: 'json',
                success: function (data) {
                    // Handle success if needed
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    </script>
{% endblock %}
