{% extends 'base.html' %}

{% load static i18n %}

{% block title %}{{ object.order_number }}{% endblock %}
{% block additional_css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css"/>
    <style>

        #map {
            height: 500px;
        }

    </style>

{% endblock %}

{% block content %}


    <header class="page-header page-header-left-inline-breadcrumb">
        <h2 class="font-weight-bold text-6">Buyurtma #{{ object.order_number }} Ma'lumotlari</h2>
        <div class="right-wrapper">
            <ol class="breadcrumbs">

                <li><span>Dashboard</span></li>

                <li><span><a href="{% url 'orders:order_list' %}">Buyurtmalar</a></span></li>

                <li><span>{{ object.order_number }}</span></li>

            </ol>


        </div>
    </header>


    <!-- start: page -->
    <form class="order-details action-buttons-fixed" method="post" action=".">
        {% csrf_token %}
        <div class="row">
            <div class="col-xl-4 mb-4 mb-xl-0">

                <div class="card card-modern">
                    <div class="card-header">
                        <h2 class="card-title">Umumiy ma'lumot</h2>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col mb-3">
                                <label>Yaratilgan</label>
                                <div class="date-time-field">
                                    <div class="date">
                                        <input type="text" class="form-control form-control-modern" name="orderDate"
                                               value="{{ object.get_order_status_display }}"
                                               readonly>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col mb-3">
                                <label>Yaratilgan</label>
                                <div class="date-time-field">
                                    <div class="date">
                                        <input type="text" class="form-control form-control-modern" name="orderDate"
                                               value="{{ order.created_at|date:"d-M-Y H:i" }}"
                                               readonly>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col mb-3">
                                <label>Mijoz</label>
                                <div class="date-time-field">
                                    <div class="date">
                                        <input type="text" class="form-control form-control-modern"
                                               value="{{ order.created_by }}"
                                               readonly>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col mb-3">
                                <label>ChatId</label>
                                <div class="date-time-field">
                                    <div class="date">
                                        <input type="text" class="form-control form-control-modern"
                                               value="{{ order.tg_pk }}"
                                               readonly>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-xl-8">

                <div class="card card-modern">
                    <div class="card-header">
                        <h2 class="card-title">Qo'shimcha ma'lumot</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-auto me-xl-5 pe-xl-5 mb-4 mb-xl-0">
                                <h3 class="text-color-dark font-weight-bold text-4 line-height-1 mt-0 mb-3">Mahsulot
                                    haqida</h3>
                                <strong class="d-block text-color-dark">Hajmi:</strong>
                                <p>{{ object.get_printSize_display }}</p>
                                <strong class="d-block text-color-dark">Rangi:</strong>
                                <p>{{ object.get_printColor_display }}</p>
                                <strong class="d-block text-color-dark">Pereplyot turi:</strong>
                                <p>{{ object.printBindingType.name }}</p>
                                <strong class="d-block text-color-dark">Yetqazib berish turi:</strong>
                                <p>{{ object.get_delivery_type_display }}</p>

                            </div>
                            <div class="col-xl-auto ps-xl-5">
                                <h3 class="font-weight-bold text-color-dark text-4 line-height-1 mt-0 mb-3">
                                    Mijoz ma'lumotlari</h3>
                                <strong class="d-block text-color-dark">Telefon:</strong>
                                <p>{{ client.phone }}</p>
                                <strong class="d-block text-color-dark">Username:</strong>
                                <p>@{{ client.username }}</p>
                                <strong class="d-block text-color-dark">Ism:</strong>
                                <p>{{ client.first_name }}</p>
                                <strong class="d-block text-color-dark">Familiya:</strong>
                                <p>{{ client.last_name }}</p>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col">

                <div class="card card-modern">
                    <div class="card-header">
                        <h2 class="card-title">Mahsulot</h2>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-ecommerce-simple table-ecommerce-simple-border-bottom table-borderless table-striped mb-0"
                                   style="min-width: 380px;">
                                <thead>
                                <tr>
                                    <th width="15%" class="ps-4">ID</th>
                                    <th width="40%">Nomi</th>
                                    <th width="10%" class="text-end">Narxi</th>
                                    <th width="10%" class="text-end">Miqdor</th>
                                    <th width="12%" class="text-end">Umumiy</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="ps-4"><p><strong>{{ order.order_number }}</strong></p>
                                    </td>
                                    <td><p><strong>{{ order.get_printSize_display }}
                                        , {{ order.get_printColor_display }} , {{ order.printBindingType }}</strong></p>
                                    </td>
                                    <td class="text-end">{{ order.price|floatformat:"2g" }} so'm</td>
                                    <td class="text-end">1</td>
                                    <td class="text-end">{{ order.price|floatformat:"2g" }} so'm</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>

                        <div class="row justify-content-end flex-column flex-lg-row my-3">
                            <div class="col-auto me-5">
                                <h3 class="font-weight-bold text-color-dark text-4 mb-3">Mahsulot narxi</h3>
                                <span class="d-flex align-items-center">
													1 mahsumot
													<i class="fas fa-chevron-right text-color-primary px-3"></i>
													<b class="text-color-dark text-xxs">{{ order.price|floatformat:"2g" }} so'm</b>
												</span>
                            </div>
                            <div class="col-auto me-5">
                                <h3 class="font-weight-bold text-color-dark text-4 mb-3">Yetqazib berish</h3>
                                <span class="d-flex align-items-center">
													Yetqazib berish
													<i class="fas fa-chevron-right text-color-primary px-3"></i>
													<b class="text-color-dark text-xxs">0 so'm</b>
												</span>
                            </div>
                            <div class="col-auto">
                                <h3 class="font-weight-bold text-color-dark text-4 mb-3">Umumiy narx</h3>
                                <span class="d-flex align-items-center justify-content-lg-end">
													<strong class="text-color-dark text-5">{{ order.price|floatformat:"2g" }} so'm</strong>
												</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <section class="card">
                    <header class="card-header">
                        <div class="card-actions">
                            <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                            <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                        </div>

                        <h2 class="card-title">Manzil</h2>
                    </header>
                    <div class="card-body">
                        {% if order.location.latitude == 1 %}
                            <h5>Manzil belgilanmagan</h5>
                        {% else %}
                            <div id="map"></div>
                        {% endif %}

                    </div>
                </section>
            </div>
            <div class="col-lg-3">
                <section class="card">
                    <header class="card-header">
                        <div class="card-actions">
                            <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                            <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                        </div>

                        <h2 class="card-title">Manzil</h2>
                    </header>
                    <div class="card-body" style="height: 530px;">

                        <div class="form-row">
                            <div class="form-group col mb-3">
                                <label>Manzil</label>
                                <div class="date-time-field">
                                    <div class="date">
                                        <input type="text" class="form-control form-control-modern"
                                               value="{{ order.location.name }}"
                                               readonly>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col mb-3">
                                <label>Yetqazib berish turi</label>
                                <div class="date-time-field">
                                    <div class="date">
                                        <input type="text" class="form-control form-control-modern"
                                               value="{{ order.get_delivery_type_display }}"
                                               readonly>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col mb-3">
                                <label>Telefon</label>
                                <div class="date-time-field">
                                    <div class="date">
                                        <input type="text" class="form-control form-control-modern"
                                               value="{{ client.phone }}"
                                               readonly>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        {% if order.order_status == 2 %}
            <div class="row action-buttons">
                <div class="col-12 col-md-auto">
                    <a class="mb-1 mt-1 me-1 modal-basic btn btn-danger  delete-button btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1"
                       href="#modalBasic"><i class="bx bx-trash text-4 me-2"></i>Bekor qilish</a>
                </div>

                <div class="col-12 col-md-auto ms-md-auto mt-3 mt-md-0 ms-auto">
                    <button type="submit"
                            class="submit-button btn btn-primary btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1"
                            data-loading-text="Loading...">
                        <i class="bx bx-save text-4 me-2"></i> Qabul qilish
                    </button>
                </div>
            </div>
        {% else %}
            <div class="row action-buttons">
                <div class="col-12 col-md-auto ms-md-auto mt-3 mt-md-0 ms-auto">
                    {% if order.order_status == 4 %}
                        <button type="button" class="btn btn-danger"
                        ><i class="bx bx-eraser text-4 me-2"></i>{{ order.get_order_status_display }}</button>
                    {% elif order.order_status == 3 %}
                        <button type="button" class="btn btn-primary"
                        ><i class="bx bx-align-justify text-4 me-2"></i>{{ order.get_order_status_display }}</button>
                    {% elif order.order_status == 5 %}
                        <button type="button" class="btn btn-success"
                        ><i class="bx bx-check-circle text-4 me-2"></i>{{ order.get_order_status_display }}</button>
                    {% endif %}

                </div>
            </div>
        {% endif %}


    </form>
    <div id="modalBasic" class="modal-block mfp-hide">
        <section class="card">
            <header class="card-header">
                <h2 class="card-title">Bekor qilish</h2>
            </header>
            <div class="card-body">
                <div class="modal-wrapper">
                    <div class="modal-text">
                        <p class="mb-0">Siz haqiqatdan buyurtmani berkor qilmoqchimisiz?</p>
                    </div>
                </div>
            </div>

            <footer class="card-footer">
                <div class="row">
                    <form action="{% url 'orders:order_cancel'  order.uuid %}" method="post">
                        {% csrf_token %}
                        <div class="col-md-12 text-end">
                            <button class="btn btn-default modal-dismiss">Yoq</button>
                            <button type="submit" class="btn btn-primary">Ha</button>
                        </div>
                    </form>
                </div>
            </footer>

        </section>
    </div>

    <!-- end: page -->


{% endblock %}
<!-- Specific Page Vendor -->

{% block additional_js %}
    <!-- Specific Page Vendor -->
    <script src="{% static 'vendor/select2/js/select2.js' %}"></script>
    <script src="{% static 'vendor/pnotify/pnotify.custom.js' %}"></script>
    <!-- Examples -->
    <script src="{% static 'js/examples/examples.modals.js' %}"></script>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

    <script>
    console.log("{{ comp_lat }}")
    console.log("{{ comp_long }}")
        var latitudeWithComma = "{{ order.location.latitude }}";
        var longitudeWithComma = "{{ order.location.longitude }}";

        // Replace commas with dots
        var latitude = latitudeWithComma.replace(',', '.');
        var longitude = longitudeWithComma.replace(',', '.');

        var map = L.map('map');

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        L.Routing.control({
            waypoints: [
                L.latLng(latitude, longitude),
                L.latLng("{{ comp_lat }}", "{{ comp_long }}")
            ],
            addWaypoints: false,
            routeWhileDragging: true
        }).addTo(map);


    </script>


{% endblock %}
