{% extends 'base.html' %}

{% load static %}

{% block title %}Buyurtmalar{% endblock %}


{% block content %}
    <header class="page-header page-header-left-inline-breadcrumb">
        <h2 class="font-weight-bold text-6">Dashboard ></h2>
        <div class="right-wrapper">
            <ol class="breadcrumbs">
                <li><span>Buyurtmalar</span></li>
            </ol>
        </div>
    </header>

    <div class="row">
        <div class="col">

            <div class="card card-modern card-modern-table-over-header">
                <div class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                    </div>
                    <a type="button" href="#" class="btn btn-primary">Qo'shmoq</a>
                </div>
                <div class="card-body">
                    <table class="table table-responsive-md table-bordered mb-0">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Buyurtma raqami</th>
                            <th>Hajmi</th>
                            <th>Rangi</th>
                            <th>Pereplyot turi</th>
                            <th>Sahifalar soni</th>
                            <th>Buyurtma statusi</th>
                            <th>Mijoz telefon raqami</th>
                            <th>To'lov statusi</th>
                            <th>Yetqazib berish turi</th>
                            <th>Manzil</th>
                            <th>Narx</th>
                            <th>Yaratildi</th>
                            <th>Vazifa</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in order_list %}
                            <tr>


                                <td>{{ forloop.counter }}</td>
                                <td><a href="{% url 'orders:order_detail' order.uuid %}">{{ order.order_number }}</a>
                                </td>
                                <td>{{ order.get_printSize_display }}</td>
                                <td>{{ order.get_printColor_display }}</td>
                                <td>{{ order.printBindingType.name }}</td>
                                <td>{{ order.page_number }}</td>
                                <td>{{ order.get_order_status_display }}</td>
                                <td>{{ order.created_by.phone }}</td>
                                <td>{{ order.get_cash_type_display }}</td>
                                <td>{{ order.get_delivery_type_display }}</td>
                                <td>{{ order.location }}</td>
                                <td>{{ order.price|floatformat:"2g" }} so'm</td>
                                <td>{{ order.created_at|date:"d-M-Y H:i" }}</td>
                                <td>
                                    <button class="btn btn-primary" type="submit">Saqlash</button>
                                </td>
                                {#                                <td class="actions text-center">#}
                                {#                                    <a href="#"><i class="fas fa-pencil-alt"></i></a>#}
                                {#                                    <a href="#" class="delete-row"><i#}
                                {#                                            class="far fa-trash-alt"></i></a>#}
                                {#                                </td>#}

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
<!-- Specific Page Vendor -->

