{% extends 'base.html' %}

{% load static %}

{% block title %}Tranzaksiya{% endblock %}


{% block content %}
    <header class="page-header page-header-left-inline-breadcrumb">
        <h2 class="font-weight-bold text-6">Dashboard ></h2>
        <div class="right-wrapper">
            <ol class="breadcrumbs">
                <li><span><a href="{% url 'transactions:transaction_list' %}">Transaksiyalar</a></span></li>
                <li><span>{{ object.payment_order }}</span></li>
            </ol>
        </div>
    </header>


    <div class="row">
        <div class="col-xl-6 mb-4 mb-xl-0">

            <div class="card card-modern">
                <div class="card-header">
                    <h2 class="card-title">Tranzaksiya {{ transaction.payment_order }}</h2>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col mb-3">
                            <label>Muddat</label>
                            <div class="date-time-field">
                                <div class="date">
                                    <input type="text" class="form-control form-control-modern" name="orderDate"
                                           value="{{ object.created_at|date:"d-m-Y H:i" }}"
                                           readonly>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col mb-3">
                            <label>Yaratuvchi</label>
                            <div class="date-time-field">
                                <div class="date">
                                    <input type="text" class="form-control form-control-modern" name="orderDate"
                                           value="{{ object.created_by }}"
                                           readonly>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col mb-3">
                            <label>To'lov raqami</label>
                            <div class="date-time-field">
                                <div class="date">
                                    <input type="text" class="form-control form-control-modern" name="orderDate"
                                           value="{{ object.payment_order|floatformat:"g" }}"
                                           readonly>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col mb-3">
                            <label>Tur</label>
                            <div class="date-time-field">
                                <div class="date">
                                    <input type="text" class="form-control form-control-modern"
                                           value="{{ object.get_cash_type_display }}"
                                           readonly>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-xl-6 mb-4 mb-xl-0">

            <div class="card card-modern">
                <div class="card-header">
                    <h2 class="card-title"><br></h2>
                </div>
                <div class="card-body">

                     <div class="form-row">
                        <div class="form-group col mb-3">
                            <label>Mijoz</label>
                            <div class="date-time-field">
                                <div class="date">
                                    <input type="text" class="form-control form-control-modern"
                                           value="{{ object.client }}"
                                           readonly>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col mb-3">
                            <label>Buyurtma</label>
                            <div class="date-time-field">
                                <div class="date">
                                    <input type="text" class="form-control form-control-modern"
                                           value="{{ object.order }}"
                                           readonly>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col mb-3">
                            <label>Debet</label>
                            <div class="date-time-field">
                                <div class="date">
                                    {% if object.double_entry_accounting == 2 %}
                                        <input type="text" class="form-control form-control-modern"
                                               value="{{ object.balance|floatformat:"2g" }}"
                                               readonly>
                                    {% else %}
                                        <input type="text" class="form-control form-control-modern"
                                               value="0"
                                               readonly>
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col mb-3">
                            <label>Kredit</label>
                            <div class="date-time-field">
                                <div class="date">
                                    {% if object.double_entry_accounting == 1 %}
                                        <input type="text" class="form-control form-control-modern"
                                               value="{{ object.balance|floatformat:"2g" }}"
                                               readonly>
                                    {% else %}
                                        <input type="text" class="form-control form-control-modern"
                                               value="0"
                                               readonly>
                                    {% endif %}

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>




    <form class="order-details action-buttons-fixed" method="post" action=".">
        {% csrf_token %}

        <div class="row action-buttons">


            <div class="col-12 col-md-auto ms-md-auto mt-3 mt-md-0 ms-auto">
                <button type="submit"
                        class="submit-button btn btn-danger btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1"
                        data-loading-text="Loading...">
                    <i class="bx bx-trash text-4 me-2"></i> Bekor qilish
                </button>
            </div>
        </div>
    </form>




{% endblock %}
<!-- Specific Page Vendor -->
{% block additional_js %}

{% endblock %}
