{% extends 'base.html' %}

{% load static %}

{% block title %}Transaksiyalar{% endblock %}
{% block additional_css %}
    <link rel="stylesheet" href="{% static 'vendor/jquery-ui/jquery-ui.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendor/jquery-ui/jquery-ui.theme.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendor/select2-bootstrap-theme/select2-bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-multiselect/css/bootstrap-multiselect.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-tagsinput/bootstrap-tagsinput.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-timepicker/css/bootstrap-timepicker.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendor/dropzone/basic.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendor/dropzone/dropzone.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-markdown/css/bootstrap-markdown.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendor/summernote/summernote-bs4.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendor/codemirror/lib/codemirror.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendor/codemirror/theme/monokai.css' %}"/>
{% endblock %}

{% block content %}
    <header class="page-header page-header-left-inline-breadcrumb">
        <h2 class="font-weight-bold text-6">Dashboard ></h2>
        <div class="right-wrapper">
            <ol class="breadcrumbs">
                <li><span>Transaksiyalar</span></li>
                <li><span>Qo'shmoq</span></li>
            </ol>
        </div>
    </header>
    <!-- start: page -->
    <form class="ecommerce-form action-buttons-fixed" action="." method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <section class="card">
                    <header class="card-header">
                        <div class="card-actions">
                            <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                            <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                        </div>

                        <h2 class="card-title">Tranzaksiya</h2>
                    </header>
                    <div class="card-body">

                        <div class="form-group row pb-4">
                            <label class="col-lg-3 control-label text-lg-end pt-2"
                                   for="inputDefault">Ta'rif</label>
                            <div class="col-lg-6">
                                {{ form.description }}
                            </div>
                        </div>

                        <div class="form-group row pb-4">
                            <label class="col-lg-3 control-label text-lg-end pt-2"
                                   for="inputDisabled">Pul turi</label>
                            <div class="col-lg-6">
                                {{ form.cash_type }}
                            </div>
                        </div>

                        <div class="form-group row pb-4">
                            <label class="col-lg-3 control-label text-lg-end pt-2" for="inputReadOnly">Ikkiyoqlama
                                yozuv</label>
                            <div class="col-lg-6">
                                {{ form.double_entry_accounting }}
                            </div>
                        </div>

                        <div class="form-group row pb-3">
                            <label class="col-lg-3 control-label text-lg-end pt-2" for="inputHelpText">Mijoz</label>
                            <div class="col-lg-6">
                                {{ form.client }}
                            </div>
                        </div>

                        <div class="form-group row pb-4">
                            <label class="col-lg-3 control-label text-lg-end pt-2"
                                   for="inputRounded">Buyurtma</label>
                            <div class="col-lg-6">
                                <select class="form-control mb-3"  id="order_id" name="order" required>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row pb-4">
                            <label class="col-lg-3 control-label text-lg-end pt-2" for="inputFocus">Summa</label>
                            <div class="col-lg-6">
                                <input class="form-control" id="price" name="price"  required>
                            </div>
                        </div>


                    </div>
                </section>
            </div>
        </div>


        <div class="row action-buttons d-flex justify-content-end">
            <div class="col-12 col-md-auto px-md-0 mt-3 mt-md-0">
                <a href="{% url 'transactions:transaction_list' %}"
                   class="cancel-button btn btn-light btn-px-4 py-3 border font-weight-semibold text-color-dark text-3">Bekor
                    qilish</a>
            </div>
            <div class="col-12 col-md-auto">
                <button type="submit"
                        class="submit-button btn btn-primary btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1"
                        data-loading-text="Loading...">
                    <i class="bx bx-save text-4 me-2"></i> Saqlash
                </button>
            </div>
        </div>
    </form>
    <!-- end: page -->








{% endblock %}
<!-- Specific Page Vendor -->
{% block additional_js %}
    <!-- Specific Page Vendor -->
    <script src="{% static 'vendor/jquery-ui/jquery-ui.js' %}"></script>
    <script src="{% static 'vendor/jqueryui-touch-punch/jquery.ui.touch-punch.js' %}"></script>
    <script src="{% static 'vendor/select2/js/select2.js' %}"></script>
    <script src="{% static 'vendor/bootstrapv5-multiselect/js/bootstrap-multiselect.js' %}"></script>
    <script src="{% static 'vendor/jquery-maskedinput/jquery.maskedinput.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>
    <script src="{% static 'vendor/bootstrapv5-colorpicker/js/bootstrap-colorpicker.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-timepicker/js/bootstrap-timepicker.js' %}"></script>
    <script src="{% static 'vendor/fuelux/js/spinner.js' %}"></script>
    <script src="{% static 'vendor/dropzone/dropzone.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-markdown/js/markdown.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-markdown/js/to-markdown.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-markdown/js/bootstrap-markdown.js' %}"></script>
    <script src="{% static 'vendor/codemirror/lib/codemirror.js' %}"></script>
    <script src="{% static 'vendor/codemirror/addon/selection/active-line.js' %}"></script>
    <script src="{% static 'vendor/codemirror/addon/edit/matchbrackets.js' %}"></script>
    <script src="{% static 'vendor/codemirror/mode/javascript/javascript.js' %}"></script>
    <script src="{% static 'vendor/codemirror/mode/xml/xml.js' %}"></script>
    <script src="{% static 'vendor/codemirror/mode/htmlmixed/htmlmixed.js' %}"></script>
    <script src="{% static 'vendor/codemirror/mode/css/css.js' %}"></script>
    <script src="{% static 'vendor/summernote/summernote-bs4.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-maxlength/bootstrap-maxlength.js' %}"></script>
    <script src="{% static 'vendor/ios7-switch/ios7-switch.js' %}"></script>
    <!-- Examples -->
    <script src="{% static 'js/examples/examples.advanced.form.js' %}"></script>

    <script>
        const csrftoken = $("[name=csrfmiddlewaretoken]").val();
        $(document).ready(function () {
            // Initialize Select2 on your select element
            $('#id_client').select2({
                minimumInputLength: 2
                // Add other Select2 options here if needed
            });

            // Add a change event listener to the Select2 element
            $('#id_client').on('change', function () {
                const selectedOption = $(this).val();
                console.log(`User selected: ${selectedOption}`);
                // Add your logic here
                // Make an AJAX request to the backend
                $.ajax({
                    url: '{% url 'transactions:transaction_client_choose' %}',  // Replace with your actual backend endpoint
                    type: 'POST',  // Change the HTTP method if needed
                    data: {selectedOption: selectedOption},
                    headers: {
                        "X-CSRFToken": csrftoken
                    },
                    success: function (response) {
                        // Handle the response from the backend
                        updateSelectOptions(response.data);
                        // Add your logic here
                    },
                    error: function (error) {
                        console.error('Error:', error);
                        // Handle the error
                    }
                });
            });

            // Function to update the <select> options
            function updateSelectOptions(options) {
                var selectElement = $('#order_id');

                // Clear existing options
                selectElement.empty();
                selectElement.append($('<option>'));


                // Check if options is defined and is an array
                if (Array.isArray(options)) {
                    // Add new options
                    options.forEach(function (option) {
                        var optionElement = $('<option>', {
                            value: option.uuid,
                            text: option.order_number
                        });
                        selectElement.append(optionElement);
                    });
                } else {
                    console.error('Invalid options data:', options);
                }
            }
        });

        $(document).ready(function () {
            // Initialize Select2 on your select element
            $('#id_client').select2({
                minimumInputLength: 2
                // Add other Select2 options here if needed
            });

            // Add a change event listener to the Select2 element
            $('#id_client').on('change', function () {
                const selectedOption = $(this).val();

                // Add your logic here
                // Make an AJAX request to the backend
                $.ajax({
                    url: '{% url 'transactions:transaction_client_choose' %}',  // Replace with your actual backend endpoint
                    type: 'POST',  // Change the HTTP method if needed
                    data: {selectedOption: selectedOption},
                    headers: {
                        "X-CSRFToken": csrftoken
                    },
                    success: function (response) {
                        // Handle the response from the backend
                        updateSelectOptions(response.data);
                        // Add your logic here
                    },
                    error: function (error) {
                        console.error('Error:', error);
                        // Handle the error
                    }
                });
            });

            // Function to update the <select> options
            function updateSelectOptions(options) {
                var selectElement = $('#order_id');

                // Clear existing options
                selectElement.empty();
                selectElement.append($('<option>'));


                // Check if options is defined and is an array
                if (Array.isArray(options)) {
                    // Add new options
                    options.forEach(function (option) {
                        var optionElement = $('<option>', {
                            value: option.uuid,
                            text: option.order_number
                        });
                        selectElement.append(optionElement);
                    });
                } else {
                    console.error('Invalid options data:', options);
                }
            }


            // Add change event listener to the <select> element
            $('#order_id').on('change', function () {
                // Get the selected value
                var selectedValue = $(this).val();

                // Make AJAX request to the backend with the selected value
                $.ajax({
                    url: '{% url 'transactions:transaction_order_price' %}',  // Replace with your actual backend endpoint
                    type: 'POST',  // Use 'GET' or 'POST' based on your backend view
                    data: {selectedValue: selectedValue},
                    headers: {
                        "X-CSRFToken": csrftoken
                    },
                    success: function (response) {
                        $('#price').val(response.data);
                    },
                    error: function (error) {
                        console.error('Error:', error);
                    }
                });
            });

        });
    </script>

{% endblock %}
